:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
    

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
 font-style: normal;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.5;
  font-weight: 400;
  color: #26221f;
  background-color: #f1e7d8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f1e7d8;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}
